.pagination{
}

.page_indicator {
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.3);
    padding: 5px 10px;
    text-align:center;
    color:#fff;
    line-height: 1.55rem;

}

.active {
    background-color: #008A27;
}