.video_card {

}

.icon_play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.icon_play:hover{
    opacity: 0.9;
}
/*m*/
.m_icon_play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 52px;
    height: 52px;
}
