.title{
    font-size: 40px;
    font-weight: 600;
    line-height: 80px;
    text-align: center;
}

.subtitle{
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    color: #1B1B1B;
    opacity: 0.6;
    text-align: center;
}

