.button {
    
}

.small {
    font-size: .8rem;
    padding: .3rem 1rem;
}

.middle {
    width: 220px;
    height: 70px;
    font-size: 20px;
    font-weight: 500;
}

.large {
    font-size: 1.2rem;
    padding: .8rem 5rem;
}

.bordered {
        
    transition: all 0.25s ease;
}
.border_white{
    color: #fff;
    border: 1px solid #fff;
}
.border_green{
    color: #008A27;
    border: 1px solid #008A27;
}

.border_green:hover{
    background-color: #008A27;
    color: #fff;
}

.border_white:hover {
    color: #fff;
    border: 1px solid #fff;
    transform: scale(1.1);

}

.gradient{
    color: #fff;
    background: linear-gradient(to right, #008B28, #0FBB40);
    
    transition: all 0.25s ease;
}

.gradient:hover{
    color: #fff;
    background: linear-gradient(to right, #0FBB40, #008B28);
}

.solid {
    background-color: #008A27;
    color: white;

    transition: all 0.25s ease;
}

.solid:hover {
    background-color: #008a27ee;

    transform: scale(1.1);
}

.solid_white{
    background-color: #fff;
    color: #008A27;
}

.solid_white:hover{
    background-color: #fff;
    color: #008A27;
    transform: scale(1.1);
}


