.modal_body {
    padding: 56px 124px 33px 124px;

}

/*m*/
.m_modal_body {
    padding: 56px 70px 33px 70px;
}
.qr_img {
    width: 172px;
    height: 172px;
}

.text{
    color: #333;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}