.banner_container {
    height: 708px;
}
.banner_img {
    position: absolute;
    right:0;
    bottom:0;
    user-select: none;
}

.banner_title {
    /* font-size: 60px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0.2px; */
}

.banner_subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.2px;
}

.section1 {
    padding-top: 100px;
    padding-bottom: 122px;
}
.section2 {
    padding-top: 136px;
    padding-bottom: 200px;
}

.section3 {
    padding-top: 136px;
    padding-bottom: 170px;
}

.logo_list {
    margin-top: 28px;
    margin-bottom: 56px;
    
}