.banner_container {
    height: 708px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner_img {
    position: absolute;
    right:0;
    bottom:0;
    user-select: none;
}

.banner_title {
    /* font-size: 60px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0.2px; */
}

.banner_subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.2px;
}

.section1 {
    padding-top: 100px;
    padding-bottom: 122px;
}
.section2 {
    padding-top: 136px;
    padding-bottom: 200px;
    padding-left: 33px;
    padding-right: 33px;
}

.section3 {
    padding-top: 136px;
    padding-bottom: 170px;
}

.logo_list {
    margin-top: 28px;
    margin-bottom: 56px;
    
}

/*m*/
.m_banner_container {
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.m-banner_title {
    font-family: 'PingFang_Semiblod';
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 80px; /* 266.667% */
    letter-spacing: 0.2px;
}

.m_section2 {
    padding-top: 67px;
    padding-bottom: 70px;
}

.m_section3 {
    padding-top: 67px;
    background-color: #FDFCFB;
}
.m_logo_list {

}
.m_banner_btn{
    width: 124px;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
}