.topBg {
    background: linear-gradient(120deg, #FFF 31.78%, #DEEFE3 98.54%);
    font-family: "Poppins_Regular";
}

.m_topBg {
    background: linear-gradient(149deg, #FFF 11.38%, #DEEFE3 90.91%);
    font-family: "Poppins_Regular";
}


.container {
    max-width: 80%;
    margin: auto
}

.secondTitle {
    background: linear-gradient(90deg, #008A27 0%, #35C549 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins_Bold"

}

.referralCard {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: #FFF;
    padding: 32px;
    box-shadow: 3px 2px 17.8px 11px rgba(18, 40, 24, 0.02);
}


.m_referralCard {
    border-radius: 8px;
    border: 1px solid #CED5D0;
    background: #FFF;
    padding: 16px;
    font-size: 12px;

}

.columbia_code {
    width: 100%;
    height: 300px;
    background: url('../../../assets/ad/m_bg_code.png') no-repeat;
    background-position: center right 50px;
}

.logos {
    overflow: hidden;
    width: 100%;

}


.logosSlide {
    display: flex;
    width: calc(200%);
    /* 双倍宽度实现无缝循环 */
    animation: slide 20s linear infinite;
    /* 动画持续时间根据需求调整 */
    justify-content: space-between;

}


.logosSlide img {
    width: calc(100% / 5);
    object-fit: none;
    height: auto;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
        /* 滚动到一半位置 */
    }
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 767px) {
    .logosSlide {
        animation-duration: 10s;
        gap: 30px;

    }
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 767px) {
    .logosSlide img {
        width: calc(100% / 3);


    }
}