.banner_container {
    height: 708px;
}
.banner_img {
    z-index: 0;
    position: absolute;
    left: 50%;
    bottom:0;
    transform: translateX(-50%);
}
.section1 {
    padding-top: 73px;
    padding-bottom: 0;
}
.section_title1 {
    margin-bottom: 100px;
}

.section2 {
    padding: 90px 0 214px 0;
}

.section_title2 {
    margin-bottom: 100px;
}

.banner_video{
    position:absolute;
    width: 100%; 
    object-fit: cover; 
    height: 708px;
}

.m_banner_container{
}
.m_banner_img_box {
    position:absolute;
    width: 100%; 
    object-fit: cover; 
    height: 750px;
}

.m_banner_img {
    width: 100%;
    height: auto;
}