.banner_container {
    height: 708px;
}
.banner_img {
    z-index: 0;
    position: absolute;
    left: 50%;
    bottom:0;
    transform: translateX(-50%);
}
.section1 {
    padding-top: 73px;
    padding-bottom: 0;
}
.section_title1 {
    margin-bottom: 100px;
}

.section2 {
    padding: 90px 0 214px 0;
}

.section_title2 {
    margin-bottom: 100px;
}

.banner_video{
    position:absolute;
    width: 100%; 
    object-fit: cover; 
    height: 708px;
}
/* m */

.m_banner_container{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
.m_banner_img_box {
    position:absolute;
    width: 100%; 
    top:0;
    border: 1px solid red;

}

.m_banner_img {
    width: 100%;
    height: auto;
}
.m_banner_content {
    position: relative;
    z-index: 10;
    margin: 103px 0 0 0;
    text-align: center;
}

.m_banner_content > h1 {
    font-family: 'PingFang_Semiblod';
    font-size: 30px;
    margin-bottom: 281px;
}

.m_banner_btn {
    width: 124px !important;
    height: 45px !important;;
    margin: 0 auto !important;
    margin-bottom: 122px !important;
    font-size: 14px !important;;
}

.m_section1 {
    padding-top: 67px;
}

.m_section_title1 {
    margin-bottom: 43px;
}

.m_top_offer_content {
    background: linear-gradient(90deg, #008A27 0%, #7DD193 100%);
    padding: 67px 0 37px 27px;
}

.m_stu_exp_content {
}

.m_section2 {
    padding: 67px 27px 140px 27px;
}

.m_section_title2 {
    margin-bottom: 43px;
}