.top_offer_list {

}

.top_offer_item {

}

.bottom {
    background-color: #E6F4EA;
    height: 200px;
}

.avatar {
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, -50%);
}