.timeline {
    list-style: none;
    position: relative;
}

.timeline > li {
    border-left: 1px rgba(0, 138, 39,0.5) dashed;
    margin: 0 0 0 20px;
}
.timeline > li:last-child{
    box-sizing: border-box;
}
.timeline_content {
    position: relative;
    top: 0;
    padding: 18px 10px 0 20px;
}
.timeline_content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #FAFEFC;
    position: absolute;
    left: -6px;
    top: 24px;
    border:2px solid #008A27;
    border-radius: 100%;
}

.title {
    font-size: 16px;
    font-weight: 600;
    line-height: 27.2px;
    color: #333333;   
    margin-bottom: 16px;
}

.content {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: #333333;    
    opacity: 0.7;
    padding-left: 3.6rem;
}

.content > li {
    padding-bottom: 8px;
}
.bottom_mask {
    position: absolute;
    top: 0;
    height: 24px;
    width: 100%;
    background-color: #F8FDFB;
    left: 0;
    z-index: 2;
}


/*m */

.m_timeline {
    list-style: none;
    position: relative;
}

.m_timeline > li {
    border-left: 1px rgba(0, 138, 39,0.5) dashed;
}
.m_timeline > li:last-child{
    min-height: 0;
}
.m_timeline_content {
    position: relative;
    top: -0;
    padding: 18px 10px 0 20px;
}
.m_timeline_content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #FAFEFC;
    position: absolute;
    left: -7px;
    top: 20px;
    border:2px solid #008A27;
    border-radius: 100%;
}

.m_title {
    color: #333;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 27px;
    
    text-indent: -2.8rem; 
    padding-left: 2.8rem;
}


.m_content {
    color: #333;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.6;
    padding-left: 2.7rem;
}

.m_content > li {
    margin-bottom: 18px;
}
.m_content > li:last-child {
    margin-bottom: 0;
}
.m_bottom_mask {
    position: absolute;
    top: 0;
    height: 20px;
    width: 100%;
    background-color: #F8FDFB;
    left: 0;
    z-index: 2;
}