.timeline {
    list-style: none;
}

.timeline > li {
    border-left: 1px #008A27 dashed;
    margin: 0 0 0 20px;
}
.timeline > li:last-child{
    box-sizing: border-box;
}
.timeline_content {
    position: relative;
    top: -24px;
    padding: 18px 10px 12px 20px;
}
.timeline_content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #FAFEFC;
    position: absolute;
    left: -6px;
    top: 24px;
    border:2px solid #008A27;
    border-radius: 100%;
}

.title {
    font-size: 16px;
    font-weight: 600;
    line-height: 27.2px;
    color: #333333;   
    margin-bottom: 16px;
}

.content {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: #333333;    
    opacity: 0.7;
    padding-left: 3.6rem;
}

.content > li {
    margin-bottom: 8px;
}

/*m */

.m_timeline {
    list-style: none;
}

.m_timeline > li {
    border-left: 1px #008A27 dashed;
}
.m_timeline > li:last-child{
    box-sizing: border-box;
}
.m_timeline_content {
    position: relative;
    top: -24px;
    padding: 18px 10px 12px 20px;
}
.m_timeline_content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #FAFEFC;
    position: absolute;
    left: -6px;
    top: 20px;
    border:2px solid #008A27;
    border-radius: 100%;
}

.m_title {
    color: #333;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 27px;
}

.m_content {
    color: #333;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.6;
    padding-left: 2.7rem;
}

.m_content > li {
    margin-bottom: 8px;
}
