.cards {
    
}

.card {
    background-color: #fff;
    border-radius: 6px;
}

.header {
    background-color: green;
    height: 350px;
}

.footer {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    min-height:293px;
}

.more {
    position: absolute;
    right:0;
    bottom: 0;
    background-color: rgba(255,255,255,0.3);
    border-top-left-radius: 20px;
    padding: 10px 6px 4px 20px;
}