.free_resource_list {
    margin: -14px; 
}

.card {
    padding:19.5px;
    overflow: hidden;
}
.title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

    margin-bottom: 24px;
}
.summary_container {
    background: #F6FDF9;
    font-size: 14px;
    font-weight: 400;
    line-height: 25.2px;
    padding: 16px;
    margin-bottom: 24px;
}

.summary {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

.bottom {
    padding: 24px 24px 24px 24px;
}
.img {
    transform: scale(1);
    transition: all 0.25s ease;
}
.img_container {
    border-radius: 4px;
    overflow: hidden;
}
.card:hover .img{
    transform: scale(1.1);
}