.outline {

}

.subject_buttons {
    font-size: 20px;
    line-height: 28px;
}

.subject_button {
    cursor: pointer;
    background-color: #F7FCFA;
    color: #008A27;
}
.subject_button.active {
    background-color: #008A27;
    color: #fff;
    font-weight: 600;
}

.subject_detail {

}

.detail_header {
    background: linear-gradient(360deg, #FAFEFC 0%, #E8FAF2 100%);
}

.detail_footer {
    background: rgb(232, 250, 242, 0.3);

}

.subject_name{
    color:#008A27;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
}

.subject_tags{
    
}