.main {
    margin-top: 114px;
}

.m_main {
    margin-top: 45px;
}

.page {
    /* background-image: url(../../../assets/free-resources/bg_green_white.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%; */
    background: linear-gradient(to bottom, rgba(0, 138, 39, 0.8) 0%, #fff 8%, #fff 100%);
}

.absolutePage {
    z-index: 10;
    height: 400px;
    width: 100%;
    background: linear-gradient(180deg, #F7FBF8 0%, #008A27 152.38%);
}