@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PingFang_Light';
    src: url('/fonts/PingFang_Light.ttf') format('truetype'); 
}

@font-face {
    font-family: 'PingFang_Regular';
    src: url('/fonts/PingFang_Regular.ttf') format('truetype'); 
}

@font-face {
    font-family: 'PingFang_Medium';
    src: url('/fonts/PingFang_Medium.ttf') format('truetype'); 
}

body{
    font-family: 'PingFang_Regular';
    background-color: #F7F7F7;
    letter-spacing: 0.2px;
    font-size: 14px;
    color: #333333;
}
.transition{
    transition: all 0.25 ease;
}
.font-l{
    font-family: 'PingFang_Light';
}
.font-m{
    font-family: 'PingFang_Medium';
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-29{
    font-size: 29px;
}
.font-36{
    font-size: 36px;
}

.font-42{
    font-size: 42px;
}
.font-46{
    font-size: 46px;
}
.font-48{
    font-size: 48px;
}
.font-w300 {
    font-weight: 300;
}
.font-w400 {
    font-weight: 400;
}
.font-w500 {
    font-weight: 500;
}
.font-w600 {
    font-weight: 600;
}
.opacity-60{
    opacity: 0.6;
}
.mb-10px {
    margin-bottom: 10px;
}
.mb-12px {
     margin-bottom: 12px;
}
.mb-24px {
    margin-bottom: 24px;
}
.mb-36px {
    margin-bottom: 36px;
}
.radius-8 {
    border-radius: 8px;
}
.text-primary-green {
    color: #008A27;
}

.bg-primary-green {
    background-color: #008A27;
}

.page-banner{
    height: 920px;
}
.banner_text{
    font-family: 'PingFang_Medium';
    font-size: 60px;
    line-height: 80px;
    font-weight: 500;
}

.banner_subtitle{
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.2px;
}

.section {
}

.section .container {
    width: 85%;
    /* border:1px solid #ccc; */
}


/* list dot */
.list_dot {
    display: inline-block;
    width: 6px;
    height:6px;
    border-radius: 50%;
}

.list_dot.green{
    background-color:#008A27;
}