@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PingFang SC';
    src: url('/fonts/PingFang-SC-Regular.ttf') format('truetype'); 
}

body{
    font-family: 'PingFang SC';
    background-color: #F7F7F7;
    letter-spacing: 0.2px;
    font-size: 14px;
    color: #333333;
}

.text-primary-green {
    color: #008A27;
}

.bg-primary-green {
    background-color: #008A27;
}

.page-banner{
    height: 920px;
}
