.banner_container{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .banner_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
} */

.banner_text{
    font-size: 60px;
    line-height: 80px;
    font-weight: 800;

    text-align: center;
    margin-bottom: 120px;
}

.banner_button {
    font-size: 16px;
    font-weight: 500;
    width: 220px;
    height: 70px;
}
.section{
    padding-bottom:87px;
}
.section_title{
    margin-top: 66px;
    margin-bottom: 90px;
}

.interview_camp_cards{
    margin-bottom: 160px;
}