.header_container {
    height: 114px;
}
.menu {
    font-size: 16px;
}
.menu_item {
    line-height: 22.4px;
    font-weight: 300;
}
.submenu {
    /* border-top: 4px solid #008A27; */
    background-color: rgba(255,255,255,0.8);
    margin-top:38px;
}
.submenu_container {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    display: none;
    z-index: 10;
    height: fit-content;
}

.submenu > li {
    white-space: nowrap;
}
.submenu > li > a {
    display: block;
    padding: .9rem 2rem;
}

.menu > li:hover .submenu_container {
    display: block;
}

.submenu > li:hover {
    background-color: rgba(255,255,255,0.4);
}

.consult_btn{
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    
    width: 124px;
    height: 45px;
    padding: 10px;
    gap: 10px;
    border-radius: 8px;
    opacity: 0px;

}

.transparent{
    
    background-color: transparent;
    color: #fff;
}
.light{
    background-color: #fff;
    color: #000;
}