.header_container {
    height: 114px;
    padding: 0 38px;
}
.menu {
    font-size: 16px;
}
.menu_item {
    line-height: 22.4px;
    font-weight: 300;
}
.menu_item_active {
    font-weight: 600;
    font-size: 16px;
}

.menu_item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -32px;
    z-index: 10;
    border-bottom: 2px solid #008A27;
    width: 100%;
    visibility: hidden;
}
.menu_item_box {
    position: relative;
}
.menu_item_box:hover .menu_item::after {
    visibility: visible;
}

.submenu {
    /* border-top: 4px solid #008A27; */
    
    font-family: 'PingFang_Light';
    
    background-color: rgba(255,255,255,0.8);
    margin-top:38px;
    text-align: center;
    font-weight: 500;
}
.submenu_container {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    display: none;
    z-index: 10;
    height: fit-content;
}

.submenu > li {
    white-space: nowrap;
    
}
.submenu > li > a {
    display: block;
    padding: 33px 60px;
}

.menu > li:hover .submenu_container {
    display: block;
}

.submenu > li:hover {
    background-color: rgba(255,255,255,0.4);
    font-family: 'PingFang_Medium';
}

.consult_btn{
    float:right;
    font-size: 18px !important;
    font-weight: 400;
    line-height: 25.2px;
    width: 124px;
    height: 45px;
    padding: 10px;
    gap: 10px;
    border-radius: 8px;
}

.transparent{
    
    background-color: transparent;
    color: #fff;
}
.light{
    background-color: #fff;
    color: #000;
}


/* m */

.m_header_container {
    height: 45px;
    width: 100vw;

}

.m_menu_box {
    position: absolute;
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    color: #1C1C1E;
    display: flex;
    flex-direction: row;
    /* display: none; */
    visibility: hidden;
    z-index: 8;
    overflow-y: auto;
}
.m_menu_box.open {
    /* display: block; */
    visibility: visible;
}

.m_menu_content {
    margin-top: 45px;
    background-color: #fff;
    width: 100%;
    height: fit-content;
    min-height: 100%;

    
}

.m_menu {
    
}
.m_menu > li > a {
    font-family: 'PingFang_Medium';
    display: inline-block;
    padding: 20px 22px;
    color: #1C1C1E;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 1px 0px 0px rgba(217, 217, 217, 0.40);
    width: 100%;
}
.m_menu > li > a > i{
    float: right;
}

.m_menu > li > ul{
    display: none;
}

.m_menu > li > ul > li > a {
    width: 100%;
    display: inline-block;
    padding: 20px 30px;
    background: #F9F8F8;
    box-shadow: 0px 1px 0px 0px rgba(217, 217, 217, 0.40);
    margin-bottom: 1px;
}

/* box-shadow: 0px 1px 0px 0px rgba(217, 217, 217, 0.40); */

.m_menu > li.m_expand > ul{
    display: block;
}
.m_menu > li .m_arrow {
    transition: all 0.25s ease;
    transform: rotate(180deg);
}
.m_menu > li.m_expand .m_arrow{
    transform: rotate(0deg);
}

.m_consult_btn {
    width: 90px;
    height: 33px;
    font-size: 12px;
    font-weight: 400;
    margin-right: 14px;
    border-radius: 4px;
}

.m_arrow{
    padding-top: 3px;
}