.link_filter {
    color: #1B1B1B;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    border-radius: 4px;
    height: 100%;

}

.active {
    color: #008A27;
    font-family: 'PingFang_Medium';
    font-weight: 600;
}

/* m */
.m_link_filter {
    gap: 16px;
}

.m_link {
    color: #1B1B1B;
    font-size: 16px;
    font-weight: 400;
    padding: 3px 7px;
}

.m_active {
    font-family: 'PingFang_Medium';
    border-radius: 4px;
    color: #008A27;
    background: rgba(0, 138, 39, 0.1);
}

.desc {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.34) 0%, #FFF 100%);
}