.student_experience_list{
    gap: 30px;
}

.top_offer_item {
    padding:7px 7px 0 7px;
    cursor: pointer;
}


.header_img{
    transition: transform 0.5s ease; 
    border-radius: 8px 8px 0 0;
    
}
.img_play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.top_offer_item:hover .header_img {
    transform: scale(1.1);
    
}
.usename{
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    margin-bottom: 16px;
    gap: 5px;
}

.university {
    font-weight: 400;
    line-height: 22.4px;
    gap: 5px;
}
.tag {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color:#008A27;
    background-color: #CCE8D4;
    padding:.15rem .6rem;
    border-radius: 4px;
}

.body {
    padding: 24px 0 39px 20px ;
}

/* m */
.m_top_offer_item{
    padding:7px 7px 0 7px;
    border-radius: 8px;
}
.m_student_experience_list{
    gap: 12px;
    display:grid;
    grid-column: 1;
}
.m_img_play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 48px;
    height: 48px;
}


.m_usename{
    font-family: 'PingFang_Medium';
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 14px;
    gap: 5px;
}

.m_university {
    color: #333;
    font-size: 16px;
    font-weight: 400;
}
.m_university img {
    width: 24px;
    height: 24px;
}
.m_tag {
    color: #008A27;
    font-size: 10px;
    font-weight: 400;
    background-color: #CCE8D4;
    padding:.15rem .6rem;
    border-radius: 4px;
}

.m_body {
    padding: 24px 0 39px 20px ;
}