.container {
    width:100%;
}

.bg{
    position: absolute;
    height: 280px;
    background-color: white;
    border-radius: 8px;
    width: 91.5vw;
    z-index: 1;
}

.card{
    position: relative;
    margin: 0 auto;
    /* width: 80%; */
    display: flex;
    flex-direction: row;
    padding: 60px 30px 36px 0;
    box-sizing: border-box;
    z-index: 20;
    gap: 5vw;
}