.banner_img {
}

.banner_overlay {
    position: absolute;
    left:0;
    bottom:-170px;
}

.banner_title {
    font-size: 60px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #fff;
    margin-bottom: 15px;    
}

.banner_subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #fff;
    margin-bottom: 96px;
}

.sight_item {
    height: 176px;
}