.video_container {
    width: 70vw;
    height: fit-content;
}

.video_container video {
    width: 100%;
}

.modal_content {
    position:relative;
    background-color: transparent;
    z-index: 10;
    border-radius: 8px;
    overflow: hidden;
}